# poetry self add poetry-bumpversion

[build-system]
build-backend = "poetry.core.masonry.api"
requires = [
  "poetry-core",
]

[tool.poetry]
authors = [
  "eggplants <w10776e8w@yahoo.co.jp>",
]
classifiers = [
  "Development Status :: 3 - Alpha",
  "License :: OSI Approved :: MIT License",
  "Programming Language :: Python :: 3",
  "Programming Language :: Python :: 3 :: Only",
  "Programming Language :: Python :: Implementation :: CPython",
]
description = "Make DB of Dojinvoice"
keywords = [
  "selenium",
  "dlsite",
]
name = "dojinvoice_db"
packages = [
  { include = "dojinvoice_db" },
]
license = "MIT"
readme = "README.md"
repository = "https://github.com/eggplants/dojinvoice_db"
version = "2.0.0"

[tool.poetry.dependencies]
python = "^3.12,<4"
beautifulsoup4 = "^4.12.3"
humanfriendly = "^10.0"
lxml = "^5.1.0"
requests = "^2.31.0"
types-requests = "^2.31.0.20240125"
types-beautifulsoup4 = "^4.12.0.20240106"
types-humanfriendly = "^10.0.1.11"
playwright = "^1.41.2"
install-playwright = ">=0.0.1,<0.1.1"

[tool.poetry.group.dev.dependencies]
mypy = "^1.1.1"
pre-commit = ">=2.20,<5.0"
taskipy = "^1.10.3"
pytest = "^8.0.0"
pytest-cov = ">=4.1,<7.0"

[tool.poetry.scripts]
dvdb = "dojinvoice_db.main:main"

[tool.black]
line-length = 120
target-version = [
  'py39',
]

[tool.ruff]
line-length = 120

lint.select = [
  "ALL",
]
lint.ignore = [
  "ANN101",
  "D",
  "D203",
  "D213",
]
lint.per-file-ignores."scripts/*.py" = [
  "D",
  "INP001", #  Add an `__init__.py`.
]
lint.per-file-ignores."tests/test_*.py" = [
  "INP001", #  Add an `__init__.py`.
  "S101",   #    Use of assert detected
]
lint.mccabe.max-complexity = 18
lint.pydocstyle.convention = "numpy"

[tool.isort]
profile = "black"

[tool.mypy]
pretty = true
python_version = "3.9"
show_error_codes = true
strict = true

[tool]

[tool.poetry_bumpversion.file."dojinvoice_db/__init__.py"]

[tool.taskipy.tasks]
test = "pytest --cov=dojinvoice_db --cov-report=term"
"test:ci" = "task test --cov-report=xml:cov.xml"
lint = "pre-commit run -a"
profile = "python -m cProfile"
